@page "/"
@inject HttpClient httpClient


@if (speakers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Mai Toyoda</h1>
    <h1>Megan Kuo</h1>
    <a href="/add">
        <button class="btn btn-success">Add new speaker</button>
    </a>

    <table class='table table-hover'>

    <tbody>
        @foreach (var item in speakers)
            {
                <tr>
                    <td>@item.FirstName @item.LastName</td>
                    <td><a class="btn btn-success btn-sm" href="/edit/@item.SpeakerId">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/delete/@item.SpeakerId">Delete</a></td>

                </tr>
            }
        </tbody>
    </table>
}

@code {

    Speaker[] speakers;
    string baseUrl = "http://localhost:5000/";

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        speakers = await httpClient.GetFromJsonAsync<Speaker[]>($"{baseUrl}api/speakers");
    }

}
